@import url("./styles.css");

/* .container {
  width: 90%;
  margin: 0 auto;
} */

h2 {
  font-size: 1.25rem;
}

.br-bottom {
  border-bottom: 1px dotted gray;
}

.info {
  /* margin-right: 5px; */
}

#shipping,
#payment,
#billing-details,
#order {
  padding-left: 0 !important;
}

.order-img {
  width: 100px;
  height: 100px;
}

.product-brand {
  font-weight: 700;
}

.paragrph01 {
  white-space: pre-line;
}

.edit-icons {
  color: black;
  border: 1px solid #ccc;
  background-color: white;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 4px;
  padding: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.fa-trash {
  top: 10px;
  background-position: center;
  font-size: 0.75rem;
}

.fa-pen {
  font-size: 0.75rem;
  top: 50px;
}

.txt-sz {
  font-size: 0.65rem;
}

.md-txt-sz {
  font-size: 0.85rem;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}
