* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  height: 100vh;
}

.limited {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  width: 100%;
  border-bottom: 1px dotted black;
}

.nav-link {
  font-size: 0.75rem;
}

.section1 {
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 10px;
}

.carousel-item > .btn {
  outline: none !important;
}

div.carousel-item > h1 {
  font-size: 2rem;
  margin-bottom: 0;
  padding: 20px 0 0;
}

div.carousel-item > p:first-of-type {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

div.carousel-item > .model-bio {
  padding: 40px 10px 10px 0;
}

div.carousel-item > .model-img {
  margin-left: 5px;
  height: 300px;
}

.btn-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.btn-light {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  padding: 10px 0;
  margin-bottom: 10px;
}

.icons {
  width: 15px;
  height: 15px;
}

.btn-light > div:first-of-type {
  margin-left: 10px;
}

.btn-light-text {
  margin-bottom: 0;
}

/* SECTION RULES */
.section2 {
  width: 90%;
  margin: 10px auto;
  padding: 0;
}

div.row {
  margin-left: 0;
  margin-right: 0;
}

.discount-tag {
  border: 1px solid black;
  background-color: black;
  font-size: 0.75rem;
  color: white;
  padding: 3px;
} 

.card-body {
  text-align: center;
}

.fash-brand {
  font-size: 0.75rem;
}

s {
  opacity: 0.5;
}

.btn-outline-primary:hover {
  background-color: dodgerblue;
  color: white;
}

.btn-text {
  word-spacing: 0.05rem;
  padding: 3px 2px;
}

img.card-img-top {
  height: 200px;
}

div.carousel-indicators {
  margin-bottom: 0;
}

/* SECTION 3 */
.section3 {
  width: 90%;
  margin: 70px auto 0;
}

.lookbook {
  margin: auto 0;
  line-height: 50px;
  padding: 50px 0;
  width: 60%;
}

.lookbook-img {
  width: 300px;
  height: 300px;
}

.quote-bio {
  white-space: pre-line;
  padding: 0;
}

#footer {
  border-top: 1px solid gray;
}

#footer-section01 {
  width: 90%;
  margin: 0 auto;
}

.d05 {
  color: gray;
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 20px 0 22px;
}

.d05:last-of-type {
  margin-bottom: 0;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.ft-li {
  padding: 0;
  margin: 5px 5px 5px 0;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 0.78rem;
  padding: 0;
}

#footer-social-icons {
  margin-top: 120px;
  color: black;
}

.footer-socialicons {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-icon {
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 0;
  border-right: 1px solid grey;
}

#fb-icon {
  border-right: none;
}

.tel {
  font-size: 0.75rem;
  color: black;
  text-decoration: none;
}

#subscribe-info {
  white-space: pre-line;
  font-size: 0.78rem;
}

#bottom-list {
  list-style-type: none;
  margin: 0 45px 20px 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.bottom-links {
  color: #999;
  text-decoration: none;
  display: inline-block;
  margin-right: 7px;
  padding: 5px;
}

.bottom-links:hover {
  color: lime;
}

.copy2021 {
  color: #999;
  width: 40%;
  font-size: 0.75rem;
  text-align: right;
}

form {
  font-size: 0.75rem;
}
